@model AccessControl.Web.Models.AccessRights.AccessRightsIndexViewModel


<h3>Users' access rights</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th rowspan="2">User</th>
            <th colspan="3">Access Rights</th>
            <th rowspan="2">#</th>
        </tr>
        <tr>
            <th>Type</th>
            <th>Department</th>
            <th>Access Point</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rights in Model.UserAccessRights.OrderBy(x => x.UserName))
        {
            var rowspan = 1;
            if (rights.PermanentAccessRules.Length > 0)
            {
                rowspan += rights.PermanentAccessRules.Length;
            }

            if (rights.ScheduledAccessRules.Length > 0)
            {
                rowspan += rights.ScheduledAccessRules.Length*2;
            }

            <tr><td rowspan="@rowspan">@Model.GetDisplayUserName(rights.UserName)</td></tr>
            @Html.Partial("PermanentPartial", new
            {
                Owner = Model,
                PermanentAccessRules = rights.PermanentAccessRules,
                ScheduledAccessRules = rights.ScheduledAccessRules,
                UserOrGroupName = rights.UserName,
                IsGroup = false
            })
        }
    </tbody>
</table>
<br/>

<h3>User groups' access rights</h3>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th rowspan="2">User group</th>
            <th colspan="3">Access Rights</th>
            <th rowspan="2">#</th>
        </tr>
        <tr>
            <th>Type</th>
            <th>Department</th>
            <th>Access Point</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rights in Model.UserGroupAccessRights)
        {
            var rowspan = 1;
            if (rights.PermanentAccessRules.Length > 0)
            {
                rowspan += rights.PermanentAccessRules.Length;
            }

            if (rights.ScheduledAccessRules.Length > 0)
            {
                rowspan += rights.ScheduledAccessRules.Length*2;
            }

            <tr><td rowspan="@rowspan">@Model.GetDisplayGroupName(rights.UserGroupName)</td></tr>
            @Html.Partial("PermanentPartial", new
            {
                Owner = Model,
                PermanentAccessRules = rights.PermanentAccessRules,
                ScheduledAccessRules = rights.ScheduledAccessRules,
                UserOrGroupName = rights.UserGroupName,
                IsGroup = true
            })
        }
    </tbody>
</table>
<br/>

@Html.Partial("EditorPartial")

@section scripts
{
    <script type="text/javascript" src="~/Scripts/access-rights-index.js"></script>
}
